body {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
svg {
    background-color: #a7a7a7;
}
a#gender {
    position: absolute;
    font-family: Segoe UI, Arial, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    bottom: 10%;
    font-size: 5em;
    text-shadow: 0.25vw 0.25vw 0.5vw #00000080;
}