body {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
svg {
    background-color: #a7a7a7;
}

a {
    font-family: Segoe UI, Arial, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    text-shadow: 0.25vw 0.25vw 0.5vw #00000080;
    position: absolute;
    text-transform: uppercase;
}
a#gender {
    bottom: 5%;
    font-size: 5em;
}

a#gender_number {
    bottom: 13.33%;
    font-size: 3em;
}

a#button {
    bottom: 2.5%;
    font-size: 1vw;
    color: #00000040;
    user-select: none;
}

a#button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0000ff80;
    user-select: none;
}
